    body {
        background-image: url(assets/abstract2.jpg);
        height: 98vh;
    }

    .content {
        border-radius: 15px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-size: 20px;

        overflow: scroll;
        height: 400px;
        padding: 20px;
    }
    p {
        line-height: 1.6;
    }
    .social {
        text-align: center;
    }
    .imgsocial {
        justify-content: center;
        width: 30px;
        padding: 10px;
        margin: auto;
    }

    .name {
        font-size: 50px;
        text-align: center;
    }
    .title {
        margin: 10px;
        padding: 10px;
        font-size: 35px;
        text-align: center;
    }
    .title2 {
        padding: 5px;
        font-size: 25px;
        text-align: center;
    }
    .mywork {  
        border-radius: 15px;
        margin: 10px;  
        background-color: rgba(255, 255, 255, 0.6);  
        overflow: scroll;
        height: 500px;
    }
    .myProj {
        border-radius: 15px;
        background-color: rgba(112, 73, 11, 0.5);
        margin: 20px;
        height: 250px;
        max-height: 300px;
        padding: 10px;
        overflow: hidden;
    
    }
    .projects {
        width: 300px; 
    }

    a{
        line-height: 1.2;
        color: white;
        text-decoration: none;
    }

    .details {
        margin:10px;
        text-align: center;
    
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-corner {
        display: none;
    }
@media only screen and (min-width: 600px) {
   

    .contentTwo {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }
    .mywork {
        height: 400px;
    }
    .myProj {
        margin-left: 30px;
        width: 300px;
    }
    .content {
        height: 500px;
    }
}