    body {
        background-image: url(assets/back_ground_01.jpg);
        height: 98vh;
        font-family: 'Montserrat', sans-serif;
    }

    header {
        padding-top: 100px;
    }

    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        color: black;
        background-color: rgb(117, 115, 115);
        height: 50px;
        width: 100%;
    }

    .nav-item {
        margin: auto;
    }
    a:any-link {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
      .navlink:hover {
        color: white;
        background-color: rgba(177, 179, 173, 0.705);
        padding: 10px;
    }

    .top {
        color: blue;
        text-decoration: underline;
    }


  

    .content {
        margin: 10px;
        text-align: center;
        font-size: 17px;
        padding: 20px;
    }

    p {
        line-height: 1.6;
    }

    .social {
        line-height: 1.6;
        text-align: center;
    }

    .imgsocial {
        justify-content: center;
        width: 30px;
        padding: 10px;
        margin: auto;
    }

    .name {
        font-size: 40px;
        text-align: center;
    }

    .title {
        font-style: oblique;
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }

    .title2 {
        color: white;
        padding: 5px;
        font-size: 25px;
        text-align: center;
    }

    .mywork {  
        margin: 10px;  
    }

    .myProj {
        background-color: rgb(148, 144, 144);
        margin: 20px;
        height: 250px;
        max-height: 300px;
        padding: 10px;
        overflow: hidden;

    }

    .projects {
        width: 250px; 
    }

    a {
        line-height: 1.2;
        color: white;
        text-decoration: none;
    }

    .details {
        margin:10px;
        text-align: center;
    }
    
    footer{
        background: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        padding: 10px;
        background-position: 0px 40px;
    }

@media only screen and (min-width: 600px) {
    .name {
        font-size: 70px;
    }

    .contentTwo {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        font-size: 40px;
    }

    .mywork {  
        overflow: hidden;
        margin: auto;
        width: 1300px;
        height: 700px;
    }

    .myProj {
        margin-left: 30px;
        width: 250px;
    }

    .content {
        margin: auto;
        font-size: 20px;
        width: 1260px;
        height: 400px;
    }
}